shellPath: {{ if eq .chezmoi.os "windows" }}{{ lookPath "nu" | quote }}{{ else if eq .chezmoi.os "darwin" }}"/bin/zsh"{{ else }}"/usr/bin/zsh"{{ end }}
providers:
  webSearchOrder:
    []
modelRoles:
  default: cursor/cursor-grok-4.6:high
  plan: openai-codex/gpt-5.6-sol:high
  task: openai-codex/gpt-5.6-luna:max
  smol: openai-codex/gpt-5.6-luna:max
  tiny: deepseek/deepseek-v4-flash:max
  slow: google-antigravity/gemini-3.7-flash:high
  designer: xai-oauth/grok-4.6:high
  commit: opencode-go/deepseek-v4-flash:max
  vision: google-antigravity/gemini-3.7-flash:high
  advisor: openai-codex/gpt-5.6-luna:max
symbolPreset: nerd
theme:
  light: light-catppuccin
  dark: dark-catppuccin
tui:
  tight: true
setupVersion: 2
hideThinkingBlock: true
dev:
  autoqaConsent: granted
defaultThinkingLevel: auto
composer:
  shape: box
task:
  agentModelOverrides:
    task: "@task"
    designer: "@designer"